header.header
    .row    
        .col
        .col
        ul.nav
            li.nav-item
                a.nav-link.active(href="/") Home
            li.nav-item
                a.nav-link.active(href="/register")  Register
            li.nav-item
                a.nav-link.active(href="/2") 2
            li.nav-item
                a.nav-link.active(href="/3") 3
            li.nav-item
                a.nav-link.active(href="/4") 4
            