*{
  box-sizing: border-box;
  margin: 0;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background-color: #00acee;
}
.header{
  max-height: 110px;
  width: 100%;
  background-color: #dceff7;
  position: fixed;
  top: 0;
  

}
a{
  color: black;
}

.wrapper{
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 25% 75%;
}
.single_wrap{
  width: 700px;
  max-width: 100%;
  margin: 0 auto;
  background-color:rgb(5, 75, 122) ;
  
}
.label{
  font: white;
}
.form_inline {
  border: 0;
  display: flex;
  justify-content: flex-end;
  padding: 30px;
}

.footer{
  text-align: center;
  bottom: 0v;
}
.single_wrap{
  background-color: whitesmoke;
  width: 700px;
  height:700px;
  padding: 150px;
  
}
#logo{
  display: flex;
  justify-content: left;
}
.logout{
  margin-left:50px;
  text-align: center;
  margin-right: 8px;
}

.register{
  margin-right: 8px;
}

.tweet_form{  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20vh;
  height: 200px;}
  
.tweet_textarea {
      border: 2px solid black;
 }
 
 .tweet_button{
  width: 60%;
  margin-left: 20%;
  margin-right: 20%}
.register{
  padding:0 0 0 5px;
}

.newsfeed 
{
  padding: 10px;
  margin-top: 130px;
  text-align: center;

  
}

.card {
  margin-top: 10px;
  position: relative;
  text-align: center;
  width: 25rem;
  left: 35%;
  border-radius: 10px;
  padding: 20px;
  z-index: -1;
  

}
 .list-group-item  {
  text-align: center;
  background-color: #00abee7c;
 
 }